/**
 * Asaf Gilboa
 * Sudoku project style
 */

* {
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

body,
.container {
    height: 100%;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
}

#MainWindow {
    width: 96%;
    margin-top: 2%;
    padding: 0;
    float: center;
    text-align: center;
    font-size: 10vw;
    border: 7px ridge rgb(23, 103, 95);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgb(23, 103, 95) inset;
}

#opHeader {
    font-size: 7vw;
    margin-top: 3%;
}

#MainWindow img {
    height: 40vh;
    aspect-ratio: 1 / 1;
}

#signIn {
    height: 90%;
    width: 90%;
    margin: 5%;
    border: 7px ridge rgb(23, 103, 95);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgb(23, 103, 95) inset;
    text-align: center;
    display: none;
}

#signIn > h1 {
    margin-top: 3%;
    font-size: 3vw;
}
#signIn > a {
    font-size: 2vw;
}
#signIn img {
    width: 2vw;
}

#signInInputs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.formFields, .inputFields {
    font-size: 2.4vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputFields input, .formFields span {
    margin: 1%;
}

#registration {
    height: 90%;
    width: 90%;
    margin: 5%;
    border: 7px ridge rgb(23, 103, 95);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgb(23, 103, 95) inset;
    float: center;
    text-align: center;
    display: none;
}

#regHeader {
    font-size: 2.2vw;
}
#regHeader img {
    width: 2vw;
    aspect-ratio: 1 / 1;
}

#tableR {
    text-align: left;
    margin: auto;
    font-size: 1.5vw;
}

#Game {
    flex-direction: column;
    text-align: center;
    width: 90%;
    border: 7px ridge rgb(23, 103, 95);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgb(23, 103, 95) inset;
    display: none;
}

#chooseLevel {
    height: 90%;
    width: 90%;
    margin: 5%;
    border-style: solid;
    border-color: black;
    float: center;
    text-align: center;
    display: none;
    border: 7px ridge rgb(23, 103, 95);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgb(23, 103, 95) inset;
}

#chooseLevel img {
    width: 10vw;
    aspect-ratio: 1 / 1;
}

#chooseLevel h4 {
    margin-top: 3%;
    font-size: 1.8vw;
}

#grid {
    border-style: solid;
    text-align: center;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

td.tdSudoku {
    border-style: solid;
    border-color: black;
    height: 50px;
    width: 50px;
}

input.emptyCell {
    color: rebeccapurple;
    padding: 0;
    border: 2px dotted darkslateblue;
    text-align: center;
    width: 48px;
    height: 48px;
    font-size: 30px;
    outline: none;
    cursor: pointer;
    background-color: gainsboro;
}

input.numCell {
    color: #000000;
    padding: 0;
    border: 0;
    text-align: center;
    width: 48px;
    height: 48px;
    font-size: 30px;
    outline: none;
    background-color: whitesmoke;
}

.solid-border-right {
    border-right: 5px ridge;
}

.solid-border-bottom {
    border-bottom: 5px ridge;
}

.errorMessage {
    display: none;
    color: red;
    font-size: 15px;
}

#gameData {
    margin: 1% 0;
    width: 96%;
    display: flex;
    justify-content: space-evenly;
}

#gameData span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3vw;
    font-weight: 600;
    color: darkslateblue;
}

#gameData #hintsLeft {
    color: rgb(88, 140, 185);
}

#lblTime {
    border: none;
}

.menuButtons {
    font-size: 1.7vw !important;
    margin: 1%;
}

#Game .menuButtons {
    font-size: 1vw !important;
    font-weight: 600;
    margin: 0 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gameMessage {
    margin: 1%;
    color: slateblue;
}
#message {
    font-size: 1.5vw;
    margin: 2%;
}
#gameMessage img  {
    width: 1.3vw;
    aspect-ratio: 1 / 1;
}

#backButtons {
    text-align: center;
    width: 50%;
    margin: 1% auto 2%;
    font-size: 1.5vw;
}

#backButtons a {
    margin: 0 5%;
    padding: 1%;
    background-color:rgba(23, 103, 95, 0.2);
    border-radius: 10px;
}
#backButtons a:hover {
    text-decoration: none;
    background-color:rgba(23, 103, 95, 0.3);
}

#registration #backToMainHref {
    margin-bottom: 3%;
}

#Game #backToMainHref {
    margin: 1%;
}

#changeLevelLink {
    display: none;
}

#backToMainHref {
    font-size: 1.6vw;
}

